{% extends "home.html" %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}
  <body style="background: linear-gradient(135deg, 
                hsl(0, 0%, 5%) 0%, 
                hsl(240, 28%, 14%) 50%, 
                hsl(224, 48%, 16%) 100%)">
    <div class="center">
      <h1>Reset Sent</h1>
      
        <center>
            <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</div>
        </center>
      
    </div>

  </body>
{% endblock content %}