{% extends "home.html" %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <body style="background: linear-gradient(135deg, 
                hsl(0, 0%, 5%) 0%, 
                hsl(240, 28%, 14%) 50%, 
                hsl(224, 48%, 16%) 100%)">
        <div class="center">
        <h1>Reset Password</h1>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <center><h4 style="color: firebrick;">{{message}}</h4></center>
                    {% else %}
                        <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
                    {% endif %}
                {% endfor %}
            {% endif %}     
            
        <form method="POST">

            {% csrf_token %}

            <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
            </div>    

            <div class="txt_field">
                <input type="password" name="confirm_password" required>
                <span></span>
                <label>Confirm Password</label>
            </div>    

            <input type="submit" value="Reset Password">
            <div class="signup_link">
                Remember your password? <a href={% url "login" %}>Login</a>
            </div>
        </form>
        </div>
    </body>
{% endblock content %}